{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-ylw mb-4">
      <a style="color: #fff;margin-right: 1rem;font-size: 2.00rem;" href="#">ⒷⓞⒷ</a>
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{{#if active.home}} active{{/if}}">
            <a class="nav-link" href="/">Home</a>
          </li>
          {{#if user}}
            <li class="nav-item{{#if active.inbox}} active{{/if}}">
              <a class="nav-link" href="/mail">Inbox</a>
            </li>
            <li class="nav-item{{#if active.calendar}} active{{/if}}">
              <a class="nav-link" href="/calendar">Calendar</a>
            </li>
            <li class="nav-item{{#if active.contacts}} active{{/if}}">
              <a class="nav-link" href="/contacts">Contacts</a>
            </li>
            <li class="nav-item{{#if active.rooms}} active{{/if}}">
              <a class="nav-link" href="/rooms">Rooms</a>
            </li>
          {{/if}}
        </ul>-->
        <ul class="navbar-nav justify-content-end">
          {{#if user}}
            <li class="nav-item dropdown">
              <a  style="color:white;"class= dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{user}}</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="/authorize/signout">Sign Out</a>
              </div>
            </li>
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="{{signInUrl}}">Sign In</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </nav>

    <!-- Main body -->
    <main role="main" class="container">

  {{#if user}}
    <section>
      <div style="text-align:center;" class="circle">
      <p><a href="#" class="botvoice"><img src="/images/g.png" style="width:35px;max-width: 100%;"/></a></p>
      </div>
      <div style="padding-top:20px;">
          <p>You said: <em class="output-you">...</em></p>
          <p>Bot replied: <em class="output-bot">...</em></p>
          <p>Result: <em class="output-result">...</em></p>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js"></script>
    <script src="js/script.js"></script>
  {{else}}
    <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
  {{/if}}

<hr> 
 {{{body}}}
</main>
    
<style>
.circle{
    position:relative;
    background:white;
    border: solid 1px black;
    width:100px;
    height:100px;
    text-align:center;    
    -webkit-border-radius: 50px;  
    -moz-border-radius: 50px;  
    border-radius: 50px;
}
.circle p
{
    font:italic 52px Georgia;
    color:#fff;
    vertical-align:middle;
    height:50px; 
    position: inherit;
}
</style>
    <!-- Bootstrap core JavaScript
    ================================================== -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
  .bg-ylw{
  background-color : #e6b800;
  }
  </style>
  </body>
</html>
